@model crudEMS.Models.Employee

@{
    ViewData["Title"] = "Delete Employee";
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]?.ToString()</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-success">
        <b>Scccess : </b>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dissmiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post" action="Delete" class="needs-validation" autocomplete="off">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Emp ID</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" asp-for="EmpID" readonly />
            <span asp-validation-for="EmpID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="LastName" readonly />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="FirstName" readonly />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">DOB</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" asp-for="DOB" readonly />
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" asp-for="Email" readonly />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Mobile</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" minlength="10" maxlength="10" asp-for="Mobile" readonly />
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Address" readonly />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Department</label>
        <div class="col-sm-2 sm-3">
            <select class="form-control" asp-for="Department" readonly>
                <option>Account</option>
                <option>Sales</option>
            </select>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Designation</label>
        <div class="col-sm-2 sm-3">
            <select class="form-control" asp-for="Designation" readonly>
                <option>Peon</option>
                <option>Manager</option>
            </select>
            <span asp-validation-for="Designation" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Salary</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" min="5000" max="20000" asp-for="Salary" readonly />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <div class="offset-2 col-sm-10">
            <h6>Designation:</h6>
            <h6>Peon: 5000 - 10000</h6>
            <h6>Manager: 10000 - 20000</h6>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-warning" asp-area="" asp-controller="Employee" asp-action="Index">Cancel</a>
        </div>
    </div>

</form>
